<div class="sobreMim">
  <div class="des">
    <h2>Descrição</h2>
    <p class="size">Tenho 20 anos, sou rápida em me adaptar a novos ambientes e minhas características incluem dedicação, atenção aos detalhes,
      empatia e proatividade. Constantemente em busca de cursos para aprimoramento, demonstro meu compromisso com o crescimento profissional. Estou sempre pronta para encarar novos desafios de frente!</p>
  </div>
</div>
<br>
<br>
<main>
  <div class="educacao">
    <div>
      <h1>Experiência</h1>
      <div>
        <h3><strong>Atendimento ao Cliente</strong></h3>
        <p>Empresa Op Shop Magazine (2020)</p>
      </div>
      <br>
    </div>
    <div>
      <h3><strong>Atendente de Reservas</strong></h3>
      <p>Hotel Estância Barra Bonita (2022)</p>
    </div>
    <br>
    <div>
      <h3><strong>Secretária</strong></h3>
      <p>Tapeçaria Carpetruck Barra Bonita (2023)</p>
    </div>

  </div>

  <div class="cursos">
    <div>
      <h1>Habilidades</h1>
      <div class="descricao">
        <mat-icon class="PR"> fiber_manual_record</mat-icon>
        <h4>Fácil Capacidade de Aprendizado</h4>
      </div>
      <div class="descricao">
        <mat-icon class="PR"> fiber_manual_record</mat-icon>
        <h4>Capacidade de adaptação a novos ambientes de trabalho</h4>
      </div>
      <div class="descricao">
        <mat-icon> fiber_manual_record</mat-icon>
        <h4>Proativa</h4>
      </div>
    </div>
  </div>
</main>
