<main>
  <div class="me">
    <img src="./../../../assets/img/andressa.jpeg">
    <div>
      <h1 class="nome">ANDRESSA CORREA BARBOSA</h1>
      <h4>Técnica em Secretariado e Recusos Humanos</h4>
    </div>
    <div class="contato">
      <h1 class="title">Contato</h1>
      <div>
        <mat-icon>email</mat-icon>
        andressacorrea2111@gmail.com
      </div>
      <br>
      <div>
        <mat-icon>phone</mat-icon>
        (14)99618-6334
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="descricao">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
</main>
