<main>
  <div class="educacao">
    <div>
      <h1>Educação</h1>
      <div>
        <p>2023</p>
        <h3><strong>Cursou Ensino Técnico em Secretariado</strong></h3>
        <p>Etec Comendador João Rays</p>
      </div>
      <br>
    </div>
    <br>
    <div>
      <h3><strong>Cursou Ciclo de Palestras Biológicas</strong></h3>
      <p>CRBio-01</p>
    </div>
    <br>
    <br>
    <div>
      <h3><strong>1° Congresso Online de Forense</strong></h3>
      <p>1°CBF Forense</p>
    </div>
    <br>
    <br>
    <div>
      <p>2022</p>
      <h3><strong>Técnico em Recursos Humanos</strong></h3>
      <p>Etec Comendador João Rays</p>
    </div>

  </div>

  <div class="cursos">
    <div>
      <h1>Cursos Adicionais</h1>
      <div class="descricao">
        <mat-icon class="PR"> fiber_manual_record</mat-icon>
        <h4>Curso Pacote Office - Vector Cursos Profissionalizantes (2013)</h4>
      </div>
      <div class="descricao">
        <mat-icon class="PR"> fiber_manual_record</mat-icon>
        <h4>Curso Capacitação de Excel - Comendador João Rays (2022)</h4>
      </div>
      <div class="descricao">
        <mat-icon> fiber_manual_record</mat-icon>
        <h4>Curso Partiu Mercado - Sebrae (2022)</h4>
      </div>
    </div>
  </div>
</main>
